# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Build / packaging
*.egg-info/
dist/
build/
*.egg
MANIFEST

# Virtual environments
.venv/
venv/
env/

# Distribution
*.whl
*.tar.gz

# Testing
.pytest_cache/
.coverage
htmlcov/

# Editors
.vscode/
.idea/
*.swp
*~
